p {
    color: red;
    font-size: 30pt;
}
p#gruby_berg { 
    color: green;
    font-size: 20pt;
    font-weight: 900;
}
p#dlawszystkich_berg {
    color: yellow;
    font-size: 10pt;
    font-family: Arial;
}
// Michal Pstragowski