p#pogrubienie_Pstragowski {
	font-size: 36px;
	color: #9860CD; /* 152 96 205*/
}

p#pochylona_Pstragowski {
	font-size: 44pt;
	color: #FCC469; /* 252 196 105 */
}

p#index_gorny_Pstragowski {
	font-size: 1,6pt;
	color: #AC9219; /* 172 146 25 */
}

p#index_dolny_Pstragowski {
	font-size: 2,7cm;
	color: rgb(28%, 96%, 88%); /* 72 246 225 */
}

p#mono_Pstragowski {
	font-size: 46px; 
	color: #2CE269; /* 44 226 105 */
}

p#powiekszenie_Pstragowski {
	color: #66429B; /* 102 66 155 */
}

p#pomniejszenie_Pstragowski {
	color: rgb(79%, 65%, 22%); /* 202 166 55 */
}